In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv(r'./total_data_1/제주.csv', encoding = 'utf-8-sig')

In [3]:
df_1.shape

(347, 8)

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     347 non-null    object
 1   region   347 non-null    object
 2   tel      345 non-null    object
 3   keyword  347 non-null    object
 4   photo    347 non-null    object
 5   address  347 non-null    object
 6   lat      347 non-null    float64
 7   lon      347 non-null    float64
dtypes: float64(2), object(6)
memory usage: 21.8+ KB

In [5]:
df_1 = df_1.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [6]:
df_1.shape

(347, 8)

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 346
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     347 non-null    object
 1   region   347 non-null    object
 2   tel      345 non-null    object
 3   keyword  347 non-null    object
 4   photo    347 non-null    object
 5   address  347 non-null    object
 6   lat      347 non-null    float64
 7   lon      347 non-null    float64
dtypes: float64(2), object(6)
memory usage: 24.4+ KB

In [8]:
df_2 = pd.read_csv(r'./total_data_2/제주_data.csv', encoding = 'utf-8')

In [9]:
df_2 = df_2.iloc[:, 1:9]

In [10]:
df_2.shape

(228, 8)

In [11]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     228 non-null    object
 1   region   228 non-null    object
 2   tel      228 non-null    object
 3   keyword  228 non-null    object
 4   photo    228 non-null    object
 5   address  228 non-null    object
 6   lat      228 non-null    float64
 7   lon      228 non-null    float64
dtypes: float64(2), object(6)
memory usage: 14.4+ KB

In [12]:
df_2 = df_2.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [13]:
df_2.shape

(207, 8)

In [14]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 227
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     207 non-null    object
 1   region   207 non-null    object
 2   tel      207 non-null    object
 3   keyword  207 non-null    object
 4   photo    207 non-null    object
 5   address  207 non-null    object
 6   lat      207 non-null    float64
 7   lon      207 non-null    float64
dtypes: float64(2), object(6)
memory usage: 14.6+ KB

In [15]:
df = pd.concat([df_1, df_2])

In [16]:
df.shape

(554, 8)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 0 to 227
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     554 non-null    object
 1   region   554 non-null    object
 2   tel      552 non-null    object
 3   keyword  554 non-null    object
 4   photo    554 non-null    object
 5   address  554 non-null    object
 6   lat      554 non-null    float64
 7   lon      554 non-null    float64
dtypes: float64(2), object(6)
memory usage: 39.0+ KB

In [18]:
df = df.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [19]:
df.shape

(548, 8)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548 entries, 0 to 227
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     548 non-null    object
 1   region   548 non-null    object
 2   tel      546 non-null    object
 3   keyword  548 non-null    object
 4   photo    548 non-null    object
 5   address  548 non-null    object
 6   lat      548 non-null    float64
 7   lon      548 non-null    float64
dtypes: float64(2), object(6)
memory usage: 38.5+ KB

In [21]:
df.reset_index(drop = True, inplace= True)

In [22]:
df.set_index(["name"], inplace = True)

In [23]:
df.sort_index(inplace = True)

In [24]:
df.head()

,region,tel,keyword,photo,address,lat,lon
name,,,,,,,
1100고지습지,제주 서귀포시,064-710-4071,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 색달동 산 1-2,33.357774,126.462518
9.81 파크,제주 제주시,981 1833-9810,"['남녀노소', '레포츠', '복합레저스포츠', '연인과함께', '이색체험', '제...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 애월읍 천덕로 880-24,33.391182,126.366528
JDC 면세점 (제주공항점),제주 제주시,064-740-9900,"['공항면세점', '관광객', '면세점', '쇼핑', '유명브랜드']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 공항로 2,33.506334,126.495261
KBS 제주,제주 제주시,064-740-7151,"['kbs', 'KBS제주', '견학', '관광지', '문화콘텐츠산업', '방송국'...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 복지로1길 8,33.488025,126.526372
SOS박물관,제주 서귀포시,064-739-7707,"['SOS박물관', '가족과함께', '관광지', '교과서속여행', '교육체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 월드컵로 31,33.247239,126.509208

In [25]:
df.tail()

,region,tel,keyword,photo,address,lat,lon
name,,,,,,,
황우지해안,제주 서귀포시,064-740-6000,"['걷기길', '관광지', '바다풍경', '여름여행', '자연', '자연속으로', ...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 서홍동,33.263958,126.550729
후곡악,제주 서귀포시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 성산읍 일주동로,33.416346,126.889907
휴림,제주 제주시,064-799-4883,"['가족과함께', '관광지', '국내힐링여행', '남녀노소', '아이와함께', '언...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 애월읍 광령남서길 40,33.443436,126.428992
휴애리자연생활공원,제주 서귀포시,064-732-2114,"['가족과함께', '가족체험', '감성사진', '관광지', '데이트장소추천', '복...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 신례동로 256,33.308540,126.634483
흙붉은오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 영실로,33.369852,126.555638

In [26]:
df.to_csv("./final_data/제주_final_data.csv", mode='w', encoding ='utf-8-sig')