In [1]:
import pandas as pd

In [2]:
df_tour = pd.read_csv(r'.\travel_data_tourism_area\제주_tourism_area_data.csv', encoding = 'utf-8-sig')

In [3]:
df_tour.head()

,name,region,tel,keyword,photo,address,lat,lon
0,1100고지습지,제주 서귀포시,064-710-4071,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 색달동 산 1-2,33.357774,126.462518
1,KBS 제주,제주 제주시,064-740-7151,"['kbs', 'KBS제주', '견학', '관광지', '문화콘텐츠산업', '방송국'...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 복지로1길 8,33.488025,126.526372
2,SOS박물관,제주 서귀포시,064-739-7707,"['SOS박물관', '가족과함께', '관광지', '교과서속여행', '교육체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 월드컵로 31,33.247239,126.509208
3,가마오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 한경면 청수서5길,33.303928,126.253830
4,가메창(암메),제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 한경면 청수로 13-3,33.320907,126.246082

In [4]:
df_tour.shape

(344, 8)

In [5]:
df_tour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     344 non-null    object
 1   region   344 non-null    object
 2   tel      342 non-null    object
 3   keyword  344 non-null    object
 4   photo    344 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 21.6+ KB

In [6]:
df_tour = df_tour.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [7]:
df_tour.shape

(344, 8)

In [8]:
df_tour.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     344 non-null    object
 1   region   344 non-null    object
 2   tel      342 non-null    object
 3   keyword  344 non-null    object
 4   photo    344 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 24.2+ KB

In [55]:
df_exp = pd.read_csv(r'.\travel_data_experience\제주_experience_data.csv', encoding = 'utf-8-sig')

In [10]:
df_exp.head()

,name,region,tel,keyword,photo
0,서귀포 가시리마을 (녹산로 유채꽃도로),제주 서귀포시,064-787-1305,"['가족과함께', '감성사진', '경치좋은곳', '관광지', '드라이브여행', '드...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
1,제주허브동산,제주 서귀포시,064-787-7362,"['가족여행', '관광지', '생태관광지', '연중무휴', '자연좋은곳', '제주권...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
2,조랑말체험공원,제주 서귀포시,064-787-0960,"['가족과함께', '가족여행', '가족체험여행', '관광지', '사계절', '아이와...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
3,어멍아방잔치마을,제주 서귀포시,064-782-7445,"['관광지', '어멍아방잔치마을', '이색체험', '자연마을', '자연속으로', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
4,제주 동백마을,제주 서귀포시,064-764-8756,"['가족체험여행', '관광지', '꽃여행', '동백마을', '자연마을', '자연좋은...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...

In [11]:
df_exp.shape

(40, 5)

In [12]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     40 non-null     object
 1   region   40 non-null     object
 2   tel      40 non-null     object
 3   keyword  40 non-null     object
 4   photo    40 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB

In [13]:
df_exp = df_exp.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [14]:
df_exp.shape

(40, 5)

In [15]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     40 non-null     object
 1   region   40 non-null     object
 2   tel      40 non-null     object
 3   keyword  40 non-null     object
 4   photo    40 non-null     object
dtypes: object(5)
memory usage: 1.9+ KB

In [16]:
df_1 =pd.concat([df_tour, df_exp])

In [17]:
df_1.shape

(384, 8)

In [18]:
df_1.head()

,name,region,tel,keyword,photo,address,lat,lon
0,1100고지습지,제주 서귀포시,064-710-4071,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 색달동 산 1-2,33.357774,126.462518
1,KBS 제주,제주 제주시,064-740-7151,"['kbs', 'KBS제주', '견학', '관광지', '문화콘텐츠산업', '방송국'...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 복지로1길 8,33.488025,126.526372
2,SOS박물관,제주 서귀포시,064-739-7707,"['SOS박물관', '가족과함께', '관광지', '교과서속여행', '교육체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 월드컵로 31,33.247239,126.509208
3,가마오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 한경면 청수서5길,33.303928,126.253830
4,가메창(암메),제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 한경면 청수로 13-3,33.320907,126.246082

In [19]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384 entries, 0 to 39
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     384 non-null    object
 1   region   384 non-null    object
 2   tel      382 non-null    object
 3   keyword  384 non-null    object
 4   photo    384 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 27.0+ KB

In [20]:
df_1 = df_1.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [21]:
df_1.shape

(345, 8)

In [22]:
df_1.reset_index(drop = True, inplace= True)

In [23]:
df_1.tail()

,name,region,tel,keyword,photo,address,lat,lon
340,후곡악,제주 서귀포시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 성산읍 일주동로,33.416346,126.889907
341,휴림,제주 제주시,064-799-4883,"['가족과함께', '관광지', '국내힐링여행', '남녀노소', '아이와함께', '언...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 제주시 애월읍 광령남서길 40,33.443436,126.428992
342,휴애리자연생활공원,제주 서귀포시,064-732-2114,"['가족과함께', '가족체험', '감성사진', '관광지', '데이트장소추천', '복...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 신례동로 256,33.308540,126.634483
343,흙붉은오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 영실로,33.369852,126.555638
344,세리월드,제주 서귀포시,064-739-8254,"['레포츠', '속도', '연인과함께', '제주도', '제주도여행', '체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN

In [24]:
df_his = pd.read_csv(r'.\travel_data_history\제주_history_data.csv', encoding = 'utf-8-sig')

In [25]:
df_his.shape

(48, 5)

In [26]:
df_his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     48 non-null     object
 1   region   48 non-null     object
 2   tel      48 non-null     object
 3   keyword  48 non-null     object
 4   photo    48 non-null     object
dtypes: object(5)
memory usage: 2.0+ KB

In [27]:
df_his = df_his.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [28]:
df_his.shape

(48, 5)

In [29]:
df_his.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     48 non-null     object
 1   region   48 non-null     object
 2   tel      48 non-null     object
 3   keyword  48 non-null     object
 4   photo    48 non-null     object
dtypes: object(5)
memory usage: 2.2+ KB

In [30]:
df_2 = pd.concat([df_1, df_his])

In [31]:
df_2.shape

(393, 8)

In [32]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 0 to 47
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     393 non-null    object
 1   region   393 non-null    object
 2   tel      391 non-null    object
 3   keyword  393 non-null    object
 4   photo    393 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 27.6+ KB

In [33]:
df_2 = df_2.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [34]:
df_2.shape

(347, 8)

In [35]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 45
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     347 non-null    object
 1   region   347 non-null    object
 2   tel      345 non-null    object
 3   keyword  347 non-null    object
 4   photo    347 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 24.4+ KB

In [36]:
df_2.reset_index(drop = True, inplace= True)

In [37]:
df_2.tail()

,name,region,tel,keyword,photo,address,lat,lon
342,휴애리자연생활공원,제주 서귀포시,064-732-2114,"['가족과함께', '가족체험', '감성사진', '관광지', '데이트장소추천', '복...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 신례동로 256,33.308540,126.634483
343,흙붉은오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 영실로,33.369852,126.555638
344,세리월드,제주 서귀포시,064-739-8254,"['레포츠', '속도', '연인과함께', '제주도', '제주도여행', '체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN
345,제주민속촌,제주 서귀포시,064-787-4501,"['가족과함께', '교육여행', '문화시설', '사계절', '아이와함께', '역사'...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN
346,제주통일관,제주 제주시,064-751-0191,"['교과서속여행', '문화시설', '실내여행지', '아이와함께', '역사', '전시...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN

In [38]:
df_nat = pd.read_csv(r'.\travel_data_natural\제주_natural_data.csv', encoding = 'utf-8-sig')

In [39]:
df_nat.shape

(168, 5)

In [40]:
df_nat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     168 non-null    object
 1   region   168 non-null    object
 2   tel      168 non-null    object
 3   keyword  168 non-null    object
 4   photo    168 non-null    object
dtypes: object(5)
memory usage: 6.7+ KB

In [41]:
df_nat = df_nat.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [42]:
df_nat.shape

(168, 5)

In [43]:
df_nat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 167
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     168 non-null    object
 1   region   168 non-null    object
 2   tel      168 non-null    object
 3   keyword  168 non-null    object
 4   photo    168 non-null    object
dtypes: object(5)
memory usage: 7.9+ KB

In [44]:
df = pd.concat([df_2, df_nat])

In [45]:
df.shape

(515, 8)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515 entries, 0 to 167
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     515 non-null    object
 1   region   515 non-null    object
 2   tel      513 non-null    object
 3   keyword  515 non-null    object
 4   photo    515 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 36.2+ KB

In [47]:
df = df.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [48]:
df.shape

(347, 8)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 346
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     347 non-null    object
 1   region   347 non-null    object
 2   tel      345 non-null    object
 3   keyword  347 non-null    object
 4   photo    347 non-null    object
 5   address  344 non-null    object
 6   lat      344 non-null    float64
 7   lon      344 non-null    float64
dtypes: float64(2), object(6)
memory usage: 24.4+ KB

In [50]:
df.reset_index(drop = True, inplace= True)

In [51]:
df.tail()

,name,region,tel,keyword,photo,address,lat,lon
342,휴애리자연생활공원,제주 서귀포시,064-732-2114,"['가족과함께', '가족체험', '감성사진', '관광지', '데이트장소추천', '복...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 신례동로 256,33.308540,126.634483
343,흙붉은오름,제주 제주시,064-740-6000,"['관광지', '자연']",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,제주특별자치도 서귀포시 남원읍 영실로,33.369852,126.555638
344,세리월드,제주 서귀포시,064-739-8254,"['레포츠', '속도', '연인과함께', '제주도', '제주도여행', '체험', '...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN
345,제주민속촌,제주 서귀포시,064-787-4501,"['가족과함께', '교육여행', '문화시설', '사계절', '아이와함께', '역사'...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN
346,제주통일관,제주 제주시,064-751-0191,"['교과서속여행', '문화시설', '실내여행지', '아이와함께', '역사', '전시...",https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,NaN,NaN,NaN

In [52]:
df.set_index(["name"], inplace = True)

In [53]:
df.to_csv("제주.csv", mode='w', encoding ='utf-8-sig')