In [1]:
import pandas as pd
import os
from ast import literal_eval

In [2]:
os.chdir(r'./final_data')

In [9]:
region = ['서울', '인천', '대전', '광주', '대구', '부산', '울산', '세종', '경기', '강원', '충북', '충남', '경북', '경남', '전북', '전남','제주']

keyword_arr = []

df2 = pd.DataFrame(columns=['keyword'])
for r in region:
    df = pd.read_csv(f'{r}_final_data.csv', encoding = 'utf-8-sig')
    df_keyword = df['keyword']
    for k in df_keyword:
        keyword = k.replace('[', '').replace(']', '').replace("'", "")
        keyword_arr = keyword.replace(' ', '').split(',')
        for keyword in keyword_arr:
            df2 = df2.append(pd.DataFrame([[keyword]], columns=['keyword']))

In [12]:
df2.shape

(83270, 1)

In [14]:
num = 0
for r in region:
    df = pd.read_csv(f'{r}_final_data.csv', encoding = 'utf-8-sig')
    num += df.shape[0]
    print(df.shape[0])
print(num)

1349
396
159
190
308
408
169
40
1666
1975
834
867
1433
1242
1172
1305
548
14061

In [20]:
df_result = pd.DataFrame(columns=['name', 'region', 'tel', 'keyword', 'photo', 'address', 'lat', 'lon'])

for r in region:
    df = pd.read_csv(f'{r}_final_data.csv', encoding = 'utf-8-sig')
    df_result = pd.concat([df_result, df])

df_result.shape

(14061, 8)

In [21]:
df_result = df_result.drop_duplicates(["name", "region", "tel", "keyword", "photo"])

In [22]:
df_result.reset_index(drop = True, inplace= True)

In [23]:
df_result.set_index(["name"], inplace = True)

In [24]:
df_result.sort_index(inplace = True)

In [25]:
df_result.shape

(14061, 7)

In [26]:
df_result.to_csv("./전체_final_data.csv", mode='w', encoding ='utf-8-sig')

In [28]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14061 entries, (구)강경노동조합 to 힐튼양복점
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   14061 non-null  object
 1   tel      13905 non-null  object
 2   keyword  14061 non-null  object
 3   photo    14061 non-null  object
 4   address  14061 non-null  object
 5   lat      14061 non-null  float64
 6   lon      14061 non-null  float64
dtypes: float64(2), object(5)
memory usage: 878.8+ KB